<section class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-80 p-4 lg:p-8 animate-pageFlip">

    <div class="grid grid-cols-2 gap-6 lg:w-[80%]">

        <!-- APPOINTMENT FORM -->
        <form class="bg-gray-900 p-8 rounded-xl border border-gray-800 space-y-5">
            <!-- text header -->
            <div class="flex flex-col space-y-4">
                <h2 class="text-2xl text-white font-semibold">
                    Book an Appointment
                </h2>
                <h3 class="text-lg text-white font-semibold">
                    Appointment Details
                </h3>
            </div>

            <!-- Patient Name -->
            <div class="flex flex-col space-y-2">
                <label class="text-gray-300">Patient Name</label>

                <input
                    type="text"
                    placeholder="Type patient name..."
                    [(ngModel)]="patientName"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
            </div>


            <!-- Doctor -->
            <div class="flex flex-col space-y-2">

                <label class="text-gray-300">
                    Select Doctor
                </label>

                <select
                    (change)="loadSlots()"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">

                    <option disabled selected>
                        Choose Doctor...
                    </option>
                </select>

            </div>


            <!-- Date -->
            <div class="flex flex-col space-y-2">

                <label class="text-gray-300">
                    Appointment Date
                </label>

                <input
                    type="date"
                    (change)="loadSlots()"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">

            </div>


            <!-- Selected Time -->
            <div class="flex flex-col space-y-2">

                <label class="text-gray-300">
                    Selected Time
                </label>

                <input
                    type="text"
                    [value]="selectedSlot"
                    readonly
                    placeholder="Select a slot"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">

            </div>

            <!-- appointment status -->
            <div class="flex flex-col space-y-2">
                <label for="status">Status</label>
                <select name="status" class="bg-gray-900 text-white border border-gray-700 p-2 rounded-md focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
                    <option value="" disabled selected>Choose status</option>
                    <option value="Active">Active</option>
                    <option value="Completed">Completed</option>
                    <option value="Pending">Pending</option>
                    <option value="Canceled">Canceled</option>
                </select>
            </div>

            <!-- Selected Time -->
            <div class="flex flex-col space-y-2">
                <label class="text-gray-300">
                    Appointment Type
                </label>

                <input
                    type="text"
                    placeholder="Type the appointment type..."
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition"
                    >
            </div>

            <!-- Notes -->
            <div class="flex flex-col space-y-2">

                <label class="text-gray-300">
                    Notes(optional)
                </label>

                <textarea
                    rows="4"
                    placeholder="Additional information"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
                </textarea>

            </div>


            <button
                class="bg-blue-800 hover:bg-blue-700 transition px-6 py-2 rounded-lg font-semibold"
                click="bookAppointment()">
                Book Appointment
            </button>

        </form>



        <!-- SLOT PANEL -->
        <div class="bg-gray-900 p-8 rounded-xl border border-gray-800 space-y-6">

            <div class="flex justify-between items-center border-b border-blue-950 pb-4">
                <h3 class="text-lg text-white font-semibold">
                    Available Time Slots
                </h3>
                <button (click)="onCancel()" type="button" class="text-white hover:text-red-500 transition">
                        <i class="bi bi-x-circle text-2xl"></i>
                </button>
            </div>

            <!-- Doctor summary -->
            <div class="flex items-center justify-between bg-gray-950 p-4 rounded-lg">

                <div>
                    <p class="text-white font-medium">
                        {{ selectedDoctor || 'Select doctor' }}
                    </p>

                    <p class="text-sm text-gray-400">
                        {{ selectedDate || 'Choose a date' }}
                    </p>
                </div>

                <i class="fa-solid fa-user-doctor text-blue-500 text-xl"></i>
            </div>


            <!-- SLOTS -->
            <div class="grid grid-cols-4 gap-3">

                <button
                    *ngFor="let slot of slots"
                    (click)="selectSlot(slot)"
                    [disabled]="slot.booked"
                    [ngClass]="{
                        'bg-gray-800 hover:bg-blue-700': !slot.booked,
                        'bg-red-700 cursor-not-allowed': slot.booked
                    }"
                    class="text-white py-2 rounded-lg transition">

                    {{ slot.time }}
                </button>
            </div>
        </div>
    </div>
</section>