<section class="fixed inset-0 flex items-center bg-black bg-opacity-50 p-8 rounded-lg lg:w-[600px] lg:left-1/3 md:left-1/3 sm:w-[350px] animate-pageFlip">
        
        <form (ngSubmit)="onSubmit()" class="flex flex-col bg-blue-950 text-white space-y-4 p-8 shadow-lg rounded-lg">
                <div class="flex justify-between">
                        <h2 class="text-2xl text-white font-semibold pb-4">Doctors Form</h2>
                        <p (click)="onCancel()">
                                <i class="bi bi-x-circle text-white text-xl hover:text-red-700 cursor-pointer transition"></i>
                        </p>
                </div>
                <!-- DOCTOR NAMES -->
                <div class="flex space-x-4">
                        <div class="flex flex-col">
                                <!-- full name -->
                                <label for="fullName" class="text-white font-medium">Full Name</label>
                                <input 
                                        [(ngModel)]="fullName" id="fullName" name="fullName" type="text"
                                        placeholder="Doctor's full name" required
                                        class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                                >      
                        </div>

                        <div class="flex flex-col">
                                <!-- Preferred Name -->
                                <label for="preferedName" class="text-white font-medium">Preferred Name</label>
                                <input 
                                        [(ngModel)]="preferedName" id="preferedName" name="preferedName" type="text"
                                        placeholder="Doctor's preferred name" required
                                        class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                                >
                        </div>
                </div>
                <!-- DOCTOR'S HOSPITAL & SPEACIALITY -->
                <div class="flex space-x-4">
                        <!-- Speciality -->
                        <div class="flex flex-col">
                                <label for="speciality" class="text-white font-medium">Speciality</label>
                                <input [(ngModel)]="speciality" id="speciality" name="speciality" type="text"
                                        placeholder="Doctor's speciality" required
                                        class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                                >
                        </div>
                        <!-- Hospital -->
                        <div class="flex flex-col">
                                <label for="hospital" class="text-white font-medium">Hospital</label>
                                <input [(ngModel)]="hospital" id="hospital" name="hospital" type="text"
                                        placeholder="Doctor's hospital" required
                                        class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                                >
                        </div>
                </div>
                <!-- DOCTOR'S ELECTRONIC ADDRESSES -->
                <div class="flex space-x-4">
                        <div class="flex flex-col">
                                <!-- Email -->
                                <label for="email" class="text-white font-medium">Email</label>
                                <input [(ngModel)]="email" id="speciality" name="email" type="email"
                                        placeholder="Doctor's email address" required
                                        class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                                >
                        </div>
                        <div class="flex flex-col">
                                <!-- Phone -->
                                <label for="phone" class="text-white font-medium">Phone</label>
                                <input [(ngModel)]="phone" id="phone" name="phone" type="tel"
                                        placeholder="Doctor's phone number" required
                                        class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                                >
                        </div>
                </div>

                <!-- IMAGE -->
                <div class="flex flex-col w-full">
                        <label for="image" class="text-white font-medium">Select Image</label>
                        <input type="file" id="image" (change)="onFileSelected($event)" name="image"
                                class="bg-gray-800 text-white border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                        >
                </div>

                <!-- Buttons -->
                <div class="flex space-x-4">
                        <button 
                                type="submit" 
                                class="bg-blue-800 text-white py-2 px-4 rounded-md mt-2 hover:bg-blue-700 transition">
                                Add Doctor
                        </button>
                        <button 
                                type="button" 
                                (click)="onCancel()"
                                class="bg-red-800 text-white py-2 px-4 rounded-md mt-2 hover:bg-red-700 transition">
                                Cancel
                        </button>
                </div>
        </form>
</section>