<section class="relative flex flex-col animate-pageFlip">
    <h2 class="text-2xl text-blue-500 font-semibold">Doctors List</h2>

    <!-- filters -->
    <div class="flex justify-between py-4">
        <input 
            type="search" 
            placeholder="Search doctor..." 
            class="border rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-600"
        >
        <!-- add doctor -->
        <div class="flex space-x-4">
            <button 
                (click)="toggleForm()"
                class="text-white py-1 px-3 rounded-md mt-2 transition flex items-center space-x-1"
                [ngClass]="isFormVisible ? 'bi bi-x bg-red-500 hover:bg-red-600' : 'bi bi-plus bg-blue-500 hover:bg-blue-600'">
                <span>{{ isFormVisible ? 'Close Form' : 'Add Doctor' }}</span>
            </button>

            <select class="bg-blue-100 p-2 text-gray-900">
                <option value="All" selected>All specialists</option>
                <option value="Generalist">Generalist</option>
                <option value="Cardiologist">Cardiologist</option>
                <option value="Dermatologist">Dermatologist</option>
                <option value="Neurologist">Neurologist</option>
                <option value="Surgeon">Surgeon</option>
                <option value="Oncologist">Oncologist</option>
            </select>
        </div>
    </div>

    <!-- doctor cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-8">
        <div 
            *ngFor="let doctor of doctors$ | async"
            class="flex flex-col items-center bg-white p-4 shadow-lg rounded-md transition cursor-pointer hover:scale-105">
            <div class="space-y-4">
                <p class="text-sm text-gray-500 italic">{{ doctor.preferedName }}</p>
                <img [src]="doctor.image" [alt]="doctor.preferedName" class="object-cover w-20 h-20 rounded-full border border-blue-500">
                
                <p class="font-semibold text-lg">{{ doctor.fullName }}</p>
                <p class="text-gray-600">{{ doctor.speciality }}</p>
            </div>
            <div class="flex space-x-4">
                <button class="bg-blue-500 text-white py-1 px-3 rounded-md mt-2 hover:bg-blue-600 transition">
                    View
                </button>
                <button class="bg-emerald-100 text-emerald-500 py-1 px-3 rounded-md mt-2 hover:bg-emerald-200 transition">
                    Contact
                </button>
            </div>
        </div>
    </div>
</section>

<!-- doctor form -->
 <app-doctors-form 
    [hidden]="!isFormVisible" 
    (cancel)="toggleForm()" 
    class="fixed top-0 lg:w-[400px] lg:left-1/3 md:left-1/3 sm:w-[350px] w-full">
</app-doctors-form>