<section class="relative flex flex-col animate-pageFlip">
    <h2 class="text-2xl text-blue-500 font-semibold">Doctors List</h2>

    <!-- filters -->
    <div class="flex justify-between py-4">
        <input 
            type="search" 
            placeholder="Search doctor..." 
            class="border rounded-md px-4 py-2 ring-1 ring-blue-500 outline-blue-500"
        >
        <!-- add doctor -->
        <div class="flex space-x-4">
             <button 
                (click)="toggleForm()"
                class="bg-blue-500 text-white py-1 px-3 rounded-md mt-2 hover:bg-blue-600 transition">
                <i class="fa-solid fa-plus"></i> Add new Doctor
            </button>

            <select class="bg-blue-100 p-2 text-gray-900">
                <option value="All" selected>All specialists</option>
                <option value="Generalist">Generalist</option>
                <option value="Cardiologist">Cardiologist</option>
                <option value="Dermatologist">Dermatologist</option>
                <option value="Neurologist">Neurologist</option>
                <option value="Surgeon">Surgeon</option>
                <option value="Oncologist">Oncologist</option>
            </select>
        </div>
    </div>

    <!-- doctor cards -->
    <div class="grid grid-cols-3 gap-4 pt-8">
        <div 
            *ngFor="let doctor of doctors$ | async"
            class="flex flex-col items-center bg-white p-4 shadow-lg rounded-md transition cursor-pointer hover:scale-105">
            <div class="space-y-4">
                <p class="text-sm text-gray-900">{{ doctor.preferedName }}</p>
                <img [src]="doctor.image" class="object-cover w-20 h-20 rounded-full border border-blue-500">
                <p class="font-semibold flex flex-col">{{ doctor.fullName }}
                    <span class="font-normal text-center text-gray-500">{{ doctor.speciality }}</span>
                </p>
            </div>
            <div class="flex space-x-4">
                <button class="bg-blue-500 text-white py-1 px-3 rounded-md mt-2 hover:bg-blue-600 transition">
                    View
                </button>
                <button class="bg-emerald-100 text-emerald-500 py-1 px-3 rounded-md mt-2 hover:bg-emerald-200 transition">
                    Contact
                </button>
            </div>
        </div>
    </div>
</section>

<!-- doctor form -->
 <app-doctors-form *ngIf="isFormVisible" class="absolute top-0 z-50 w-full"></app-doctors-form>