<section class="p-6 space-y-6 animate-pageFlip">

  <!-- Page Header -->
  <div class="flex justify-between items-center">
    <div>
      <h1 class="text-2xl font-bold text-white">
        Laboratory Management
      </h1>
      <p class="text-gray-300 text-sm">
        Manage lab tests, results and patient samples
      </p>
    </div>
    <button 
      (click)="toggleForm()" 
      class="text-white px-4 py-2 rounded-lg transition"
      [ngClass]="isFormVisible ? 'bg-red-950 hover:bg-red-900' : 'bg-blue-900 hover:bg-blue-700'">
      <i [class]="isFormVisible? 'bi bi-x' : 'bi bi-plus'"></i>
      {{ isFormVisible ? 'Close Form' : 'New Lab Test' }}
    </button>
  </div>


  <!-- Statistics -->
  <div class="grid grid-cols-4 gap-6">
    <div class="bg-gray-900 p-5 rounded-xl border border-gray-800">
      <p class="text-gray-400 text-sm">Total Tests</p>
      <h2 class="text-white text-2xl font-bold mt-2">152</h2>
    </div>

    <div class="bg-gray-900 p-5 rounded-xl border border-gray-800">
      <p class="text-gray-400 text-sm">Pending</p>
      <h2 class="text-yellow-400 text-2xl font-bold mt-2">24</h2>
    </div>

    <div class="bg-gray-900 p-5 rounded-xl border border-gray-800">
      <p class="text-gray-400 text-sm">Completed</p>
      <h2 class="text-green-400 text-2xl font-bold mt-2">108</h2>
    </div>

    <div class="bg-gray-900 p-5 rounded-xl border border-gray-800">
      <p class="text-gray-400 text-sm">Critical Results</p>
      <h2 class="text-red-400 text-2xl font-bold mt-2">5</h2>
    </div>
  </div>


  <!-- Filters -->
  <div class="bg-gradient-to-br from-gray-900 to-gray-950 p-4 rounded-xl transition cursor-pointer shadow flex gap-4">
    <input
      type="text"
      placeholder="Search patient..."
      class="w-64 px-3 py-2 bg-gray-900 border text-white border-gray-700 rounded-lg text-sm focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
    />

    <select class="bg-gray-900 text-white border border-gray-700 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-800">
      <option value="" disabled selected>All Tests</option>
      <option>Blood Test</option>
      <option>Urine Test</option>
      <option>Whole Body Test</option>
    </select>

    <select class="bg-gray-900 text-white border border-gray-700 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-800">
      <option value="" disabled selected>Status</option>
      <option>Active</option>
      <option>Pending</option>
      <option>Completed</option>
      <option>Canceled</option>
    </select>
  </div>
  <!-- LAB TABLE TESTS -->
  <div class="bg-gray-900 rounded-xl border border-gray-800 overflow-hidden">

    <table class="w-full text-white">
      <thead class="bg-gray-800 text-gray-300 text-sm">
        <tr class="text-left text-sm uppercase">
          <th class="p-3">Patient</th>
          <th class="p-3">Test</th>
          <th class="p-3">Doctor</th>
          <th class="p-3">Date</th>
          <th class="p-3">Status</th>
          <th class="p-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let test of filteredTests; let i = index"
          class="border-t border-gray-800 hover:bg-gray-800 transition">
          <td class="p-3">{{ test.patientName }}</td>
          <td class="p-3">{{ test.testType }}</td>
          <td class="p-3">{{ test.doctorName }}</td>
          <td class="p-3">{{ test.date }}</td>
          <td class="p-3">
            <span
              class="px-3 py-1 rounded-full text-xs font-semibold"
              [ngClass]="{
                'bg-green-700 text-white': test.status === 'Completed',
                'bg-yellow-700 text-white': test.status === 'Pending',
                'bg-blue-700 text-white': test.status === 'Active',
                'bg-red-700 text-white': test.status === 'Canceled'
              }"
            >
              {{ test.status }}
            </span>
          </td>
          <td class="p-3 relative">
            <!-- 3 dots -->
            <button
              (click)="toggleMenu(i)"
              class="bg-gray-800 hover:bg-gray-700 px-3 py-1 rounded-md text-white transition"
            >
              ⋮
            </button>

            <!-- Dropdown -->
            <div
              *ngIf="activeMenuIndex === i"
              class="absolute right-2 mt-2 w-44 bg-gray-900 border border-gray-700 rounded-lg shadow-xl z-50 overflow-hidden"
            >

              <button class="w-full text-left px-4 py-2 hover:bg-gray-800 text-white">
                View
              </button>

              <button class="w-full text-left px-4 py-2 hover:bg-gray-800 text-blue-400">
                Result
              </button>

              <button class="w-full text-left px-4 py-2 hover:bg-gray-800 text-green-400">
                Validate
              </button>

              <button class="w-full text-left px-4 py-2 hover:bg-red-900 text-red-400">
                Delete
              </button>

            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- PAGINATION -->
<div class="flex justify-between items-center text-sm text-gray-400">
    <p>Showing 1 - 10 of 324 appointments</p>
    <div class="space-x-2">
        <button class="px-3 py-1 bg-gray-800 rounded">
            Prev
        </button>
        <button class="px-3 py-1 bg-blue-700 rounded">
            1
        </button>
        <button class="px-3 py-1 bg-gray-800 rounded">
            2
        </button>
        <button class="px-3 py-1 bg-gray-800 rounded">
            Next
        </button>
    </div>
</div>
<app-laboratory-form
  *ngIf="isFormVisible"
  (cancel)="closeFromChild()">
</app-laboratory-form>