<section class="animate-pageFlip">
    <!-- title -->
    <h2 class="text-2xl font-semibold text-white">Settings</h2>

    <!-- main content -->
    <main class="flex gap-4 w-full">
        <!-- profile settings form -->
        <form class="text-gray-900 space-y-4 bg-blue-950 p-8 shadow-lg rounded-md w-full">
            <h3 class="text-lg text-white font-semibold">Profile Settings</h3>
            <!-- user full name -->
            <div class="flex flex-col space-y-2">
                <label for="name" class="text-white font-medium">Full name</label>
                <input 
                    type="text" 
                    placeholder="Herve Mashukane" 
                    class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                >
            </div>

            <!-- user email -->
            <div class="flex flex-col space-y-2">
                <label for="email" class="text-white font-medium">Email</label>
                <input type="email" name="email" 
                    placeholder="hervemashukane@gmailcom" 
                    class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                >
            </div>

            <!-- user password -->
            <div class="flex flex-col space-y-2">
                <label for="password" class="text-white font-medium">Password</label>
                <input 
                    type="password" 
                    name="password" 
                    placeholder="........" 
                    class="bg-gray-800 border border-gray-700 rounded-md p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800"
                >
            </div>

            <!-- save profile btn -->
            <div>
                <button class="bg-blue-800 text-white py-2 px-5 rounded-md hover:bg-blue-700 transition">
                    Save Profile
                </button>
            </div>
        </form>

        <!-- notification & preferences -->
        <div class="flex flex-col bg-blue-950 p-8 text-white space-y-2 shadow-lg rounded-md w-full">
            <h3 class="text-lg text-white font-semibold">Notifications & Preferences</h3>

            <!-- email notification -->
            <div class="flex justify-between">
                <label for="email">Email notifications</label>
                <input type="checkbox">
            </div>

            <!-- SMS notifications -->
            <div class="flex justify-between">
                <label for="sms">SMS notifications</label>
                <input type="checkbox">
            </div>

            <!-- Push notifications -->
            <div class="flex justify-between">
                <label for="push">Push notifications</label>
                <input type="checkbox">
            </div>

            <!-- dark mode -->
            <div class="flex justify-between">
                <label for="darkmode">Dark Mode</label>
                <input type="checkbox">
            </div>

            <!-- save preferences btn -->
            <!-- save profile btn -->
            <div>
                <button class="bg-blue-800 text-white py-2 px-5 rounded-md hover:bg-blue-700 transition">
                    Save Preferences
                </button>
            </div>
        </div>
    </main>
</section>