<section class="p-10 relative flex flex-col animate-pageFlip bg-gray-950 text-white">
    <h2 class="text-2xl text-white font-semibold">Doctors List</h2>

    <!-- filters -->
    <div class="flex justify-between py-4">
        <input 
            type="search" 
            placeholder="Search doctor..." 
            [(ngModel)]="searchDoctor"
            class="bg-gray-950 text-white border border-gray-700 rounded-md px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition"
        >
        <!-- add doctor -->
        <div class="flex space-x-4">
            <button 
                (click)="toggleForm()"
                class="text-white py-2 px-3 rounded-md mt-2 transition flex items-center space-x-1"
                [ngClass]="isFormVisible ? 'bi bi-x bg-red-800 hover:bg-red-700' : 'bi bi-plus bg-blue-800 hover:bg-blue-700'">
                <span>{{ isFormVisible ? 'Close Form' : 'New Doctor' }}</span>
            </button>

            <select [(ngModel)]="selectedSpeciality" class="bg-gray-900 text-white border border-gray-700 p-2 rounded-md focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
                <option value="All" selected>All specialists</option>
                <option value="Generalist">Generalist</option>
                <option value="Cardiologist">Cardiologist</option>
                <option value="Dermatologist">Dermatologist</option>
                <option value="Neurologist">Neurologist</option>
                <option value="Surgeon">Surgeon</option>
                <option value="Oncologist">Oncologist</option>
            </select>
        </div>
    </div>

    <!-- doctor cards -->
    <div>
        <div 
            *ngIf="filteredDoctors.length > 0; else noDoctors"
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-8">
            <div 
                *ngFor="let doctor of filteredDoctors"
                class="flex flex-col items-center bg-gray-900 p-4 shadow-lg rounded-md transition cursor-pointer hover:scale-105">
                <div class="space-y-4">
                    <p class="text-sm text-gray-300 italic">Dr. <span>{{ doctor.preferedName }}</span></p>
                    <img [src]="doctor.image" [alt]="doctor.preferedName" class="object-cover w-20 h-20 rounded-full border border-white">
                    
                    <p class="flex flex-col font-semibold text-lg pb-2">
                        {{ doctor.fullName }}
                        <span class="font-normal text-base text-gray-300">{{ doctor.speciality }}</span>
                    </p>
                </div>
                <div class="flex space-x-4">
                    <button 
                        (click)="viewDoctor(doctor)"
                        class="bg-blue-800 text-white py-1 px-3 font-semibold rounded-md mt-2 hover:bg-blue-700 transition">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                    <button 
                        class="bg-yellow-800 text-white py-1 px-3 font-semibold rounded-md mt-2 hover:bg-yellow-700 transition">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button 
                        (click)="removeDoctor(doctor.id, doctor.fullName)"
                        class="bg-red-800 text-white py-1 px-3 font-semibold rounded-md mt-2 hover:bg-red-700 transition">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <ng-template #noDoctors>
            <h2 class="text-gray-500 text-2xl text-center">Doctors no found...</h2>
        </ng-template>
    </div>
</section>

<!-- doctor card modal -->
<app-card-modal
    [doctor]="selectedDoctor"
    [isDoctorsModalOpen]="isModalOpen"
    (close)="closeModel()">
</app-card-modal>

<!-- doctor form -->
 <app-doctors-form
    [hidden]="!isFormVisible" 
    (cancel)="toggleForm()" 
    class="fixed top-0 lg:w-[400px] lg:left-1/3 md:left-1/3 sm:w-[350px] w-full">
</app-doctors-form>