<section class="fixed inset-0 flex items-center justify-center bg-black/70 p-4 lg:p-8 animate-pageFlip">
    <!-- LABORATORY FORM -->
    <form (ngSubmit)="submitLabTest()" class="bg-gray-900 p-8 rounded-xl border border-gray-800 space-y-5">
        <!-- text header -->
        <div class="flex flex-col space-y-4">
            <h2 class="text-2xl text-white font-semibold">
                Laboratory exams form
            </h2>
            <h3 class="text-lg text-white font-semibold">
                Laboratory details
            </h3>
        </div>

        <!-- patient and doctor names -->
        <div class="grid grid-cols-2 gap-4">
            <!-- Patient Name -->
            <div class="flex flex-col space-y-2">
                <label for="patientName" class="text-gray-300">
                    Patient Name
                </label>

                <input
                    type="text"
                    placeholder="Type patient name..."
                    [(ngModel)]="formData.patientName"
                    name="formData.patientName"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-sky-600 focus:ring-1 focus:ring-sky-600 transition"
                >
            </div>
            <!-- Technologist name -->
            <div class="flex flex-col space-y-2">

                <label for="technologistName" class="text-gray-300">
                    Select Technologist
                </label>
                <select
                    [(ngModel)]="formData.technologistName"
                    name="formData.technologistName"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-sky-600 focus:ring-1 focus:ring-sky-600 transition">
                    <option value="" selected>Choose Technologist...</option>
                    <option value="Herve">Herve</option>
                    <option value="Hiro">Hiro</option>
                    <option value="Patricia">Patricia</option>
                    <option value="Sylvie">Sylvie</option>
                </select>
            </div>
        </div>

        <!-- exam status and type -->
        <div class="grid grid-cols-2 gap-4">
            <!-- test status -->
            <div class="flex flex-col space-y-2">
                <label for="status" class="text-gray-300">
                    Test Status
                </label>
                <select 
                    [(ngModel)]="formData.status" 
                    name="form.status" 
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-sky-600 focus:ring-1 focus:ring-sky-600 transition">
                    <option value="" selected>Choose status</option>
                    <option value="Active">Active</option>
                    <option value="Completed">Completed</option>
                    <option value="Pending"form>Pending</option>
                    <option value="Canceled">Canceled</option>
                </select>
            </div>

            <!-- Test Type -->
            <div class="flex flex-col space-y-2">

                <label for="testType" class="text-gray-300">
                    Select Test type
                </label>
                <select 
                    [(ngModel)]="formData.testType"
                    name="form.testType" class="bg-gray-900 text-white border border-gray-700 p-2 rounded-md focus:outline-none focus:border-sky-600 focus:ring-1 focus:ring-sky-600 transition">
                    <option value="" selected>Choose test type</option>
                    <option value="Blood">Blood</option>
                    <option value="Urine">Urine</option>
                    <option value="Body">Body</option>
                    <option value="HIV">HIV</option>
                    <option value="Malaria">Malaria</option>
                    <option value="">Other</option>
                </select>
            </div>
        </div>

        <!-- Date -->
        <div class="flex flex-col space-y-2">

            <label for="date" class="text-gray-300">
                Test Taken Date
            </label>

            <input
                type="date"
                [(ngModel)]="formData.date"
                name="formData.date"
                class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-sky-600 focus:ring-1 focus:ring-sky-600 transition">

        </div>

        <!-- Buttons -->
        <div class="flex justify-end space-x-4">
            <button type="submit" class="bg-sky-500 hover:bg-sky-600 text-white transition px-6 py-2 rounded-lg font-semibold">
                    {{ formData.id ? "Save Changes" : "Add Test"}}
            </button>
            <button type="button" (click)="closeForm()" class="bg-red-600 hover:bg-red-500 text-white transition px-6 py-2 rounded-lg font-semibold">
                    Cancel
            </button>
        </div>
    </form>
</section>