<aside class="sidebar">
  <div class="px-5 pt-4 pb-2">
    <p class="sidebar-label">Role</p>
    <p class="sidebar-role">{{ roleLabel() }}</p>
  </div>

  <ul class="flex flex-col p-4 pt-2 text-clinical-body">
    @for (group of navSections(); track group.section) {
      <p class="nav-section-title">{{ group.section }}</p>
      @for (item of group.items; track item.route) {
        <li
          [routerLink]="item.route"
          routerLinkActive="nav-link-active"
          class="nav-link"
        >
          <i class="fa-solid {{ item.icon }} w-5 text-center"></i>
          <span class="text-sm">{{ item.label }}</span>
        </li>
      }
    }
  </ul>
</aside>
