<section class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 p-4 lg:p-8 animate-pageFlip">
        <form class="flex flex-col bg-gradient-to-br from-gray-900 to-gray-950 text-white w-full max-w-lg p-8 space-y-6 rounded-xl shadow-2xl">
    
                <!-- Header -->
                <div class="flex justify-between items-center border-b border-blue-950 pb-4">
                        <h2 class="text-2xl font-bold">Medication's Form</h2>
                        <button type="button" (click)="closeForm()" type="button" class="text-white hover:text-red-500 transition">
                                <i class="bi bi-x-circle text-2xl"></i>
                        </button>
                </div>

                <!-- Medicaton name -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col">
                                <label for="medication" class="font-medium">Medication name</label>
                                <input id="medication" name="medication" type="text" placeholder="Type medication name" required
                                class="bg-gray-950 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-950 transition"/>
                        </div>
                        <div class="flex flex-col">
                                <label for="schedule" class="font-medium">Schedue</label>
                                <select 
                                        name="schedule" 
                                        id="schedule"
                                        required
                                        class="bg-gray-950 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-950 transition">
                                        <option value="" disabled selected>Select schedule</option>
                                        <option value="Morning(06-08AM)">Morning(06:30AM)</option>
                                        <option value="Noon(12-2PM)">Afternoon(12:30PM)</option>
                                        <option value="Evenening(6-8PM)">Evenening(6:30PM)</option>
                                        <option value="Once(a day)">Once a day</option>
                                        <option value="Twice(a day)">Twice a day</option>
                                </select>
                        </div>
                </div>

                <!-- Dosage & currency -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col">
                                <label for="dosage" class="font-medium">Dosage</label>
                                <select 
                                        id="dosage" 
                                        name="dosage" 
                                        required
                                        class="bg-gray-950 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-950 transition">
                                        <option value="" disabled selected>Select Medication dose</option>
                                        <option value="Generalist">100</option>
                                        <option value="Cardiologist">200</option>
                                        <option value="Dermatologist">500</option>
                                        <option value="Neurologist">1000</option>
                                </select>
                        </div>
                        <div class="flex flex-col">
                                <label for="currency" class="font-medium">Currency</label>
                                <select 
                                        name="currency" 
                                        id="currency"
                                        required
                                        class="bg-gray-950 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-950 transition">
                                        <option value="" disabled selected>Medication currency</option>
                                        <option value="">mg</option>
                                        <option value="">g</option>
                                </select>
                        </div>
                </div>

                <!-- Status -->
                <div class="flex flex-col">
                        <label for="status" class="font-medium">Medication Status</label>
                        <select 
                                name="status" 
                                id="status"
                                required
                                class="block bg-gray-950 border border-gray-700 rounded-lg p-3 mt-1 text-white focus:outline-none focus:ring-2 focus:ring-blue-950 transition">
                                <option value="Active" selected>Active</option>
                                <option value="Inactive">Inactive</option>
                                <option value="Pending">Pending</option>
                                <option value="Completed">Completed</option>
                        </select>
                </div>

                <!-- Buttons -->
                <div class="flex justify-end space-x-4">
                        <button type="submit" class="bg-blue-950 hover:bg-blue-900 transition px-6 py-2 rounded-lg font-semibold">
                                Add Medication
                        </button>
                        <button type="button" (click)="closeForm()" type="button" class="bg-red-600 hover:bg-red-500 transition px-6 py-2 rounded-lg font-semibold">
                                Cancel
                        </button>
                </div>
        </form>
</section>
