<section class="animate-pageFlip space-y-6">

  <!-- HEADER -->
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-3xl text-white font-semibold">
        Medication Tracker • 
          <span>{{ filteredMedications.length }}</span>
      </h2>
      <p class="text-gray-400 text-sm">
        Track prescriptions, schedules and adherence
      </p>
    </div>

    <button
      (click)="toggleForm()"
      class="text-white py-2 px-5 rounded-md transition flex items-center gap-2"
      [ngClass]="isFormVisible ? 'bg-red-800 hover:bg-red-700' : 'bg-blue-900 hover:bg-blue-700'"
    >
      <i [class]="isFormVisible ? 'bi bi-x' : 'bi bi-plus'"></i>
      <span>{{ isFormVisible ? 'Close Form' : 'Add Medication' }}</span>
    </button>
  </div>

  <!-- SEARCH + FILTERS -->
  <div class="bg-gray-950 p-6 rounded-md shadow-xl space-y-4">

    <div class="flex flex-wrap gap-4 items-center justify-between">

      <!-- search -->
      <input
        type="text"
        placeholder="Search medication..."
        [(ngModel)]="searchTerm"
        class="bg-gray-900 border border-gray-700 text-white px-4 py-2 rounded-md w-64 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition"
      />

      <!-- status filters -->
      <div class="flex flex-wrap gap-2">
        <button
          *ngFor="let filter of statusFilters"
          (click)="setFilter(filter)"
          class="px-3 py-1 rounded-full border border-gray-700 hover:bg-blue-950 transition"
          [ngClass]="selectedStatus === filter ? 'bg-blue-950 text-white' : 'text-gray-300'"
        >
          {{ filter }}
        </button>
      </div>
    </div>
  </div>

  <!-- MEDICATION TABLE -->
  <div class="bg-gray-900 rounded-xl border border-gray-800 overflow-hidden">

    <div>
      <table class="w-full text-white">

        <thead class="bg-gray-800 text-gray-300 text-sm">
          <tr class="text-left text-sm uppercase">
            <th class="p-3">Medication</th>
            <th class="p-3">Dosage</th>
            <th class="p-3">Schedule</th>
            <th class="p-3">Doctor</th>
            <th class="p-3">Start</th>
            <th class="p-3">End</th>
            <th class="p-3">Progress</th>
            <th class="p-3">Status</th>
            <th class="p-3">Actions</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngIf="medications$ | async as meds">
            <tr *ngIf="meds.length === 0">
              <td class="text-gray-500 text-center py-4 text-2xl">No medications found.</td>
            </tr>
            <tr
              *ngFor="let med of medications$ | async; let i = index"
              class="border-t border-gray-800 hover:bg-gray-800 transition"
            >

              <td class="p-3 font-semibold">{{ med.medName }}</td>
              <td class="p-3">{{ med.dosage }}<span>{{ med.dosageUnit }}</span></td>
              <td class="p-3">{{ med.schedule }}</td>
              <td class="p-3 text-blue-400">{{ med.doctorName }}</td>
              <td class="p-3">{{ med.startDate }}</td>
              <td class="p-3">{{ med.endDate }}</td>
              <!-- adherence progress -->
              <td class="p-3 w-40">
                <div class="w-full bg-gray-800 rounded-full h-2">
                  <div
                    class="bg-green-500 h-2 rounded-full transition-all duration-500"
                    [style.width.%]="getProgress(med)"
                  ></div>
                </div>

                <span class="text-xs text-gray-400">
                  {{ getProgress(med) }}%
                </span>
              </td>

              <!-- STATUS -->
              <td class="p-3">

                <span
                  class="px-3 py-1 rounded-full text-xs font-semibold"
                  [ngClass]="{
                    'bg-green-700': med.status === 'Active',
                    'bg-yellow-700': med.status === 'Pending',
                    'bg-red-700': med.status === 'Inactive',
                    'bg-blue-700': med.status === 'Completed'
                  }"
                >
                  {{ med.status }}
                </span>

                <td class="p-3 relative">
                  <!-- 3 dots button -->
                  <button
                    (click)="toggleMenu(i)"
                    class="bg-gray-800 hover:bg-gray-700 px-3 py-1 rounded-md text-white transition"
                  >
                    ⋮
                  </button>

                  <!-- Dropdown -->
                  <div
                    *ngIf="activeMenuIndex === i"
                    class="absolute right-2 mt-2 w-44 bg-gray-900 border border-gray-700 rounded-lg shadow-xl z-50 overflow-hidden"
                  >

                    <button class="w-full text-left px-4 py-2 hover:bg-gray-800 text-white">
                      View
                    </button>

                    <button class="w-full text-left px-4 py-2 hover:bg-gray-800 text-yellow-400">
                      Edit
                    </button>

                    <button class="w-full text-left px-4 py-2 hover:bg-gray-800 text-blue-400">
                      Mark Adherent
                    </button>

                    <button class="w-full text-left px-4 py-2 hover:bg-red-900 text-red-400">
                      Delete
                    </button>

                  </div>

                </td>
            </tr>
          </ng-container>
        </tbody>

      </table>
    </div>
  </div>

</section>

<!-- PAGINATION -->
<div *ngIf="filteredMedications as meds" class="flex justify-between items-center text-sm text-gray-400 mt-4">
  <p>
    Showing 1 - <span>{{ meds.length }}</span> of 
    <span>{{ meds.length }}</span> 
    appointment<span *ngIf="meds.length > 1">s</span>
  </p>
  <div class="space-x-2">
    <button class="px-3 py-1 bg-gray-800 rounded">
      Prev
    </button>
    <button class="px-3 py-1 bg-blue-700 rounded">
      1
    </button>
    <button class="px-3 py-1 bg-gray-800 rounded">
      2
    </button>
    <button class="px-3 py-1 bg-gray-800 rounded">
      Next
    </button>
  </div>
</div>
<app-medication-form
  *ngIf="isFormVisible"
  (cancel)="closeFromChild()"
  class="text-white"
>
</app-medication-form>