<section class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 p-4 lg:p-8 animate-pageFlip">
        <form (ngSubmit)="onSubmit()" class="flex flex-col bg-gradient-to-br from-gray-900 to-gray-950 text-white w-full max-w-lg p-8 space-y-6 rounded-xl shadow-2xl">
    
                <!-- Header -->
                <div class="flex justify-between items-center border-b border-blue-950 pb-4">
                        <h2 class="text-2xl font-bold">Patient Registration</h2>
                        <button (click)="onCancel()" type="button" class="text-white hover:text-red-500 transition">
                                <i class="bi bi-x-circle text-2xl"></i>
                        </button>
                </div>

                <!-- Names -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col">
                                <label for="fullName" class="font-medium">Full Name</label>
                                <input [(ngModel)]="fullName" id="fullName" name="fullName" type="text" placeholder="eg: Herve Imani" required
                                class="bg-gray-800 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 transition"/>
                        </div>
                        <div class="flex flex-col">
                            <label for="preferedName" class="font-medium">Preferred Name</label>
                            <input [(ngModel)]="preferedName" id="preferedName" name="preferedName" type="text" placeholder="eg: Imani" required
                                    class="bg-gray-800 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 transition"/>
                        </div>
                </div>

                <!-- Department & age -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col">
                                <label for="department" class="font-medium">Department</label>
                                <select 
                                        [(ngModel)]="department" 
                                        id="department" 
                                        name="department"
                                        class="bg-gray-800 border border-gray-700 text-white rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 transition">
                                        <option value="" disabled selected>Choose department</option>
                                        <option value="Pediatry">Pediatry</option>
                                        <option value="Cardiology">Cardiology</option>
                                        <option value="Dermatology">Dermatology</option>
                                        <option value="Neurology">Neurology</option>
                                        <option value="Surgey">Surgery</option>
                                        <option value="Oncology">Oncology</option>
                                </select>                                        
                        </div>
                        <div class="flex flex-col">
                                <label for="dob" class="font-medium">Age</label>
                                <input [(ngModel)]="age" id="date" name="age" type="number" placeholder="eg: 100" required min="0"
                                        class="bg-gray-800 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 transition"/>
                        </div>
                </div>

                <!-- Patient Contacts -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col">
                                <label for="email" class="font-medium">Patient Email</label>
                                <input [(ngModel)]="email" id="email" name="email" type="email" placeholder="eg: patient@example.com" required
                                class="bg-gray-800 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 transition"/>
                        </div>
                        <div class="flex flex-col">
                                <label for="phone" class="font-medium">Patient Phone</label>
                                <input [(ngModel)]="phone" id="phone" name="phone" type="tel" placeholder="eg: +243979594795" required
                                class="bg-gray-800 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 transition"/>
                        </div>
                </div>

                <!-- blood group && Image Upload -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col">
                                <label for="image" class="font-medium">Profile Picture</label>
                                <input type="file" id="image" name="image" (change)="onFileSelected($event)"
                                class="bg-gray-800 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 transition"/>
                        </div>
                        <div class="flex flex-col">
                                <label for="bloodGroup" class="font-medium">Blood Group</label>
                                <input [(ngModel)]="bloodGroup" id="bloodGroup" name="bloodGroup" type="text" placeholder="eg: A+" required
                                class="bg-gray-800 border border-gray-700 rounded-lg p-3 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-600 transition"/>
                        </div>
                </div>

                <!-- Buttons -->
                <div class="flex justify-end space-x-4">
                        <button type="submit" class="bg-blue-800 hover:bg-blue-700 transition px-6 py-2 rounded-lg font-semibold">
                                Add Patient
                        </button>
                        <button (click)="onCancel()" type="button" class="bg-red-600 hover:bg-red-500 transition px-6 py-2 rounded-lg font-semibold">
                                Cancel
                        </button>
                </div>
        </form>
</section>
