<section class="flex flex-col animate-pageFlip">
    <h2 class="text-2xl text-white font-semibold">Patient Records</h2>

    <!-- patient filters -->
    <div class="flex justify-between py-4">
        <input 
            type="search" 
            placeholder="Search patient.." 
            class="bg-gray-800 text-white border border-gray-700 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-800"
        >
        <div class="flex space-x-4">
            <button 
                (click)="toggleForm()"
                class="text-white py-1 px-3 rounded-md mt-2 transition flex items-center space-x-1"
                [ngClass]="isFormVisible ? 'bg-red-800 text-white hover:bg-red-700 bi bi-x' : 'bg-blue-800 text-white hover:bg-blue-700 bi bi-plus'">
                <span>{{isFormVisible ? 'Close Form' : 'New Patient'}}</span>
            </button>

            <select class="bg-gray-800 text-white border border-gray-700 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-800">
                <option value="All" selected>All Departments</option>
                <option value="Pediatrics">Pediatrics</option>
                <option value="Cardiology">Cardiology</option>
                <option value="Dermatology">Dermatology</option>
                <option value="Neurology">Neurology</option>
                <option value="Surgey">Surgery</option>
                <option value="Oncology">Oncology</option>
            </select>
        </div>
    </div>

    <!-- patient cards -->
    <div class="grid grid-cols-3 gap-4 pt-8">
        <div 
            *ngFor="let p of patients" 
            class="flex flex-col items-center bg-blue-950 p-4 shadow-lg rounded-md transition cursor-pointer hover:scale-105">
            <div class="space-y-2">
                <p class="text-sm text-gray-300 italic">{{ p.preferedName }}</p>
                <img [src]="p.image" [alt]="p.alt" class="object-cover w-20 h-20 rounded-full border border-white">
                <p class="flex flex-col font-semibold text-white">{{ p.fullName }}
                    <span class="font-normal text-gray-300">{{ p.department }}</span>
                </p>
                <p class="text-gray-300">Age: {{ p.age }} | Blood Group: {{ p.bloodGroup }}</p>
            </div>
            <div class="flex space-x-4">
                <button class="bg-blue-800 text-white py-1 px-3 rounded-md mt-2 hover:bg-blue-700 transition">
                    {{ p.viewBtn }}
                </button>
                <button class="bg-yellow-800 text-white py-1 px-3 rounded-md mt-2 hover:bg-yellow-700 transition">
                    {{ p.editBtn }}
                </button>
            </div>
        </div>
    </div>
</section>

<!-- patient form -->
<app-patients-form *ngIf="isFormVisible"></app-patients-form>