<section class="flex flex-col animate-pageFlip">
    <div>
        <h2 class="text-2xl text-blue-600 font-semibold">
            Welcome Back, Herve
        </h2>
        <p class="text-gray-600">
            Here's your health summary for today.
        </p>
    </div>
    <!-- CARDS -->
    <div class="grid grid-cols-1 gap-8 md:grid-cols-4 py-8">
        <!-- appointement -->
        <article class="bg-gray-100 rounded-md shadow-md p-4 hover:thanslate-y-2 scale-105 thansition cursor-pointer">
            <div class="flex space-x-3 text-gray-900">
                <div><i class="bi bi-people-fill text-xl text-blue-500"></i></div>
                <div>
                    <h2 class="flex flex-col font-semibold">
                        2 <span class="text-gray-600">Appointments</span>
                    </h2>
                </div>
            </div>
        </article>

        <!-- medications due -->
        <article class="bg-gray-100 rounded-md shadow-md p-4 hover:thanslate-y-2 scale-105 thansition cursor-pointer">
            <div class="flex space-x-3 text-gray-900">
                <div><i class="fa-solid fa-pills text-xl text-emerald-500"></i></div>
                <div>
                    <h2 class="flex flex-col font-semibold">
                        3 <span class="text-gray-600">Medications due</span>
                    </h2>
                </div>
            </div>
        </article>
        <!-- active patients -->
        <article class="bg-gray-100 rounded-md shadow-md p-4 hover:thanslate-y-2 scale-105 thansition cursor-pointer">
            <div class="flex space-x-3 text-gray-900">
                <div><i class="fa-solid fa-person text-xl text-blue-500"></i></div>
                <div>
                    <h2 class="flex flex-col font-semibold">
                        50 <span class="text-gray-600">Active patients</span>
                    </h2>
                </div>
            </div>
        </article>

        <!-- today'smedication -->
        <article class="bg-gray-100 rounded-md shadow-md p-4 hover:thanslate-y-2 scale-105 thansition cursor-pointer">
            <div class="flex space-x-3 text-gray-900">
                <div><i class="bi bi-bell-fill text-yellow-600 text-xl"></i></div>
                <div>
                    <h2 class="flex flex-col font-semibold">
                        1 <span class="text-gray-600">New notification</span>
                    </h2>
                </div>
            </div>
        </article>
    </div>

    <!-- OTHER CARDS -->
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <!-- upcoming appointments -->
        <article class="flex flex-col bg-gray-100 p-4 shadow-lg rounded-md hover:thanslate-y-2 scale-105 thansition cursor-pointer">
            <!-- text -->
            <div class="text-gray-900 space-y-3">
                <h2 class="text-xl text-blue-600 font-semibold">
                    Upcoming appointments
                </h2>
                <p>
                    10:00AM 
                    <i class="bi bi-arrow-right"></i>
                    Dr. Herve Mashukane(Cardiology)
                </p>
                <p>
                    2:00PM 
                    <i class="bi bi-arrow-right"></i>
                    Dr. Christelle Pelaya(General Checkup)
                </p>
                <!-- button to appointments full page -->
                <div>
                    <a routerLink="/appointments" class="bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded-lg thansition">
                        View All Appointments
                        <i class="bi bi-arrow-right"></i>
                    </a> 
                </div>
            </div>
        </article>

        <!-- today's medications -->
        <article class="flex flex-col bg-gray-100 p-4 shadow-lg rounded-md hover:thanslate-y-2 scale-105 thansition cursor-pointer">
            <!-- text -->
            <div class="text-gray-900 space-y-3">
                <h2 class="text-xl text-blue-600 font-semibold">
                    Today's Medications
                </h2>
                <p>
                    <i class="bi bi-check-circle-fill text-emerald-500"></i>
                    Amoxicillin 
                    <i class="bi bi-arrow-right"></i>
                    1 pill 9:00AM
                </p>
                <p>
                    <i class="bi bi-clock-fill"></i>
                    Vitamin C 
                    <i class="bi bi-arrow-right"></i>
                    1 pill 6:00PM
                </p>
                <!-- button to medicatons full page -->
                <div>
                    <a routerLink="/medications" class="bg-emerald-500 hover:bg-emerald-700 text-white py-2 px-4 rounded-lg thansition">
                        View Medication tracker
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <!-- recent Patent activity card -->
    <article class="my-8 p-4 bg-gray-100 rounded-md shadow-lg w-full">
        <div class="py-4 text-gray-900">
            <h2 class="text-xl text-blue-600 font-semibold">
                Recent Patient Activity
            </h2>
        </div>
        <!-- patient activity table -->
        <table class="w-full border-2 border-gray-300 bg-blue-500 text-white">
            <thead>
                <tr class="border text-white text-left">
                    <th class="border-r p-2">PATIENT</th>
                    <th class="border-r p-2">DOCTOR</th>
                    <th class="border-r p-2">DATE</th>
                    <th class="border-r p-2">STATUS</th>
                </tr>
            </thead>

            <tbody *ngFor="let activity of patientActivities">
                <tr class="border">
                    <td class="py-3 border-r px-2">{{ activity.patientName }}</td>
                    <td class="py-3 border-r px-2">{{ activity.doctorName }}</td>
                    <td class="py-3 border-r px-2">{{ activity.date }}</td>
                    <td class="py-3 border-r px-2">
                        <button 
                            class="px-2 py-1 rounded-full"
                            [ngClass]="{
                                'bg-emerald-200 text-emerald-600 hover:bg-emerald-300 transition': activity.status === 'Completed',
                                'bg-yellow-200 text-yellow-600 hover:bg-yellow-300 transition': activity.status === 'Pending',
                                'bg-red-200 text-red-600 hover:bg-red-300 transition': activity.status === 'Canceled'
                            }">
                            {{ activity.status }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>