<section class="fixed inset-0 flex items-center justify-center bg-black/70 p-4 lg:p-8 animate-pageFlip">
    <!-- LABORATORY FORM -->
    <form class="bg-gray-900 p-8 rounded-xl border border-gray-800 space-y-5">
        <!-- text header -->
        <div class="flex flex-col space-y-4">
            <h2 class="text-2xl text-white font-semibold">
                Laboratory tests form
            </h2>
            <h3 class="text-lg text-white font-semibold">
                Laboratory details
            </h3>
        </div>

        <!-- patient and doctor names -->
        <div class="grid grid-cols-2 gap-4">
            <!-- Patient Name -->
            <div class="flex flex-col space-y-2">
                <label for="patientName" class="text-gray-300">Patient Name</label>

                <input
                    type="text"
                    placeholder="Type patient name..."
                    name="patientName"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
            </div>
            <!-- Doctor -->
            <div class="flex flex-col space-y-2">

                <label for="doctorName" class="text-gray-300">
                    Select Doctor
                </label>

                <select
                    name="doctorName"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">

                    <option disabled>Choose Doctor...</option>
                    <option value="Herve">Herve</option>
                    <option value="Hiro">Hiro</option>
                    <option value="Patricia">Patricia</option>
                    <option value="Sylvie">Sylvie</option>
                </select>

            </div>
        </div>

        <!-- test status and type -->
        <div class="grid grid-cols-2 gap-4">
            <!-- test status -->
            <div class="flex flex-col space-y-2">
                <label for="status" class="text-gray-300">Status</label>
                <select name="status" class="bg-gray-900 text-white border border-gray-700 p-2 rounded-md focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
                    <option value="" disabled>Choose status</option>
                    <option value="Active">Active</option>
                    <option value="Completed">Completed</option>
                    <option value="Pending">Pending</option>
                    <option value="Canceled">Canceled</option>
                </select>
            </div>

            <!-- Test Type -->
            <div class="flex flex-col space-y-2">

                <label for="testType" class="text-gray-300">
                    Select test type
                </label>

                <select
                    name="testType"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
                    <option value="" disabled>Choose type...</option>
                    <option value="Blood Test">Blood Test</option>
                    <option value="Urine Test">Urine Test</option>
                    <option value="HIV Test">HIV Test</option>
                    <option value="Malaria Test">Malaria Test</option>
                    <option value="Whole Body Test">Whole Body Test</option>
                </select>

            </div>
        </div>

        <!-- Date -->
        <div class="flex flex-col space-y-2">

            <label for="date" class="text-gray-300">
                Test Taken Date
            </label>

            <input
                type="date"
                name="date"
                class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">

        </div>

        <!-- Buttons -->
        <div class="flex justify-end space-x-4">
                <button type="submit" class="bg-blue-800 hover:bg-blue-700 transition px-6 py-2 rounded-lg font-semibold">
                        Add Exam
                </button>
                <button type="button" class="bg-red-600 text-white hover:bg-red-500 transition px-6 py-2 rounded-lg font-semibold">
                        Cancel
                </button>
        </div>
    </form>
</section>