<section class="fixed inset-0 flex items-center justify-center bg-black/70 p-4 lg:p-8 animate-pageFlip">
    <!-- RADIOLOGY FORM -->
    <form class="bg-gray-900 p-8 rounded-xl border border-gray-800 space-y-5">
        <!-- text header -->
        <div class="flex flex-col space-y-4">
            <h2 class="text-2xl text-white font-semibold">
                Radiology Exams form
            </h2>
            <h3 class="text-lg text-white font-semibold">
                Exam details
            </h3>
        </div>

        <!-- patient and radiologist names -->
        <div class="grid grid-cols-2 gap-4">
            <!-- Patient Name -->
            <div class="flex flex-col space-y-2">
                <label for="patientName" class="text-gray-300">Patient Name</label>

                <input
                    type="text"
                    placeholder="Type patient name..."
                    name="patientName"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
            </div>
            <!-- Radiologist -->
            <div class="flex flex-col space-y-2">

                <label for="radiologist" class="text-gray-300">
                    Radiologist
                </label>

                <select
                    name="radiologist"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">

                    <option disabled>Choose Radiologist...</option>
                    <option value="Herve">Herve</option>
                    <option value="Hiro">Hiro</option>
                    <option value="Patricia">Patricia</option>
                    <option value="Sylvie">Sylvie</option>
                </select>

            </div>
        </div>

        <!-- Exam type and concerned body part -->
        <div class="grid grid-cols-2 gap-4">
            <!-- Exam type -->
            <div class="flex flex-col space-y-2">
                <label for="examType" class="text-gray-300">Type</label>
                <select name="examType" class="bg-gray-900 text-white border border-gray-700 p-2 rounded-md focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
                    <option value="" disabled>Choose exam type</option>
                    <option value="X-Ray">X-Ray</option>
                    <option value="MRI">MRI</option>
                    <option value="CT Scan">CT Scan</option>
                    <option value="Ultrasound">Ultrasound</option>
                    <option value="">Other</option>
                </select>
            </div>

            <!-- Body Part -->
            <div class="flex flex-col space-y-2">

                <label for="testType" class="text-gray-300">
                    Select Concerned Body Part
                </label>

                <select
                    name="testType"
                    class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition">
                    <option value="" disabled>Choose part...</option>
                    <option value="Chest">Chest</option>
                    <option value="Brain">Brain</option>
                    <option value="Abdomen">Abdomen</option>
                    <option value="Kidney">Kidney</option>
                    <option value="Whole">Whole Body</option>
                    <option value="">Other</option>
                </select>

            </div>
        </div>

        <!-- Date -->
        <div class="flex flex-col space-y-2">

            <label for="date" class="text-gray-300">
                Exam Taken Date
            </label>

            <input
                type="date"
                name="date"
                class="bg-gray-950 text-white border border-gray-700 rounded-lg px-4 py-2 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition"
            >

        </div>

        <!-- Buttons -->
        <div class="flex justify-end space-x-4">
            <button type="submit" class="bg-blue-800 hover:bg-blue-700 text-white transition px-6 py-2 rounded-lg font-semibold">
                    Add Exam
            </button>
            <button type="button" (click)="closeForm()" class="bg-red-600 text-white hover:bg-red-500 transition px-6 py-2 rounded-lg font-semibold">
                    Cancel
            </button>
        </div>
    </form>
</section>