<article class="flex flex-col bg-gray-100 p-4 shadow-lg rounded-md transition cursor-pointer">
    <h2 class="text-2xl font-semibold">Hello Herve, here's your appointment schedule</h2>
            <!-- text -->
            <div class="text-gray-900 space-y-3">
                <h2 class="text-xl text-gray-900 font-semibold">Upcoming appointments</h2>
                <p>10:00AM 
                    <i class="bi bi-arrow-right"></i>
                    Dr. Herve Mashukane(Cardiology)
                </p>
                <p>2:00PM 
                    <i class="bi bi-arrow-right"></i>
                    Dr. Christelle Pelaya(General Checkup)
                </p>
                <!-- button -->
                <button class="bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded-lg transition">
                    View Appointments Preview
                    <i class="bi bi-arrow-right"></i>
                </button> 
            </div>
        </article>